<div class="main">
  <header class="header">
    <div class="nav-container">
      <div class="nav-left">
        <div class="logo">
          <img src="../../assets/images/svg/logo-hybrid-cloud.svg">
        </div>
      </div>
      <div class="nav-right">
        <div class="hd-user-info">
          <p class="hd-user-role">超级管理员</p>
          <img src="../../assets/images/timg.jpg" class="hd-user-pic"></img>
        </div>
        <div class="hd-status-alarm" @click="logout">
          退出
        </div>
      </div>
    </div>
  </header>
  <section class="container">
    <!--总览-->
    <div class="list-item row">
      <!--主机-->
      <div class="top-card col-md-4">
        <top-dashboard name="主机" iconClass="icon icon-server" :columns="tableInfo.hostTable.columns"
                       :on_selection_change="on_selection_change"
                       :data="tableInfo.hostTable.data" :isShowHight="isShowHight(data.hypervisorCount)"
                       :count="data.hypervisorCount"></top-dashboard>
      </div>
      <!--虚拟机-->
      <div class="top-card col-md-4">
        <top-dashboard name="虚拟机" iconClass="icon myicon-xuniji" :columns="tableInfo.vmTable.columns"
                       :on_selection_change="on_selection_change"
                       :data="tableInfo.vmTable.data" :isShowHight="isShowHight(data.runningVmCount)"
                       :count="data.runningVmCount"></top-dashboard>
      </div>
      <!--cpu-->
      <div class="top-card col-md-4">
        <div class="item">
          <div class="icon icon-cpu" style="font-size: 2rem"></div>
          <div class="item-right">
            <div style="text-align: center">{{data.virtualCpu}}</div>
            <div class="small-text">CPU</div>
          </div>
        </div>
      </div>

      <!--内存-->
      <div class="top-card col-md-4">
        <div class="item">
          <div class="icon myicon-neicun" style="font-size: 2rem"></div>
          <div class="item-right">
            <div style="text-align: center">{{data.memory}}</div>
            <div class="small-text">内存(MB)</div>
          </div>
        </div>
      </div>

      <!--磁盘-->
      <div class="top-card col-md-4">
        <div class="item">
          <div class="icon myicon-cipan" style="font-size: 2rem"></div>
          <div class="item-right">
            <div style="text-align: center">{{data.local}}</div>
            <div class="small-text">磁盘(GB)</div>
          </div>
        </div>
      </div>

      <!--网络-->
      <div class="top-card col-md-4">
        <top-dashboard name="网络个数" iconClass="icon myicon-wangluo" :columns="tableInfo.netTable.columns"
                       :on_selection_change="on_selection_change"
                       :data="tableInfo.netTable.data" :isShowHight="isShowHight(data.networkCount)"
                       :count="data.networkCount"></top-dashboard>
      </div>
    </div>
    <!--使用情况-->
    <div v-if="mainType=='0'">
      <div class="list-item row">
        <!--CPU 使用率-->
        <div class="card col-md-12">
          <div class="item">
            <p class="item-title">CPU使用</p>
            <div class="item-content" style="width: 100%;height: 100%;display: flex;justify-content: center;"
                 v-if="dataStatus">
              <div class="item-canvas" style="flex:3;" ref="cpu">加载中...</div>
              <div class="item-canvas" style="flex:5" ref="cpuLine">加载中...</div>
            </div>
            <div class="item-empty" v-else><p>暂无数据</p></div>
          </div>
        </div>
        <!--内存消耗-->
        <div class="card col-md-12">
          <div class="item">
            <p class="item-title">内存使用(MB)</p>
            <div class="item-content" style="width: 100%;height: 100%;display: flex;" v-if="dataStatus">
              <div class="item-canvas" style="flex:3" ref="ram">加载中...</div>
              <div class="item-canvas" style="flex:5" ref="ramLine">加载中...</div>
            </div>
            <div class="item-empty" v-else><p>暂无数据</p></div>
          </div>
        </div>
        <!--本地磁盘使用率-->
        <div class="card col-md-12">
          <div class="item">
            <p class="item-title">本地磁盘使用(GB)</p>
            <div class="item-content" style="width: 100%;height: 100%;display: flex;" v-if="dataStatus">
              <div class="item-canvas" style="flex:3" ref="store">加载中...</div>
              <div class="item-canvas" style="flex:5" ref="storeLine">加载中...</div>
            </div>
            <div class="item-empty" v-else><p>暂无数据</p></div>
          </div>
        </div>
        <!--网络使用率-->
        <div class="card col-md-12">
          <div class="item">
            <p class="item-title">网络个数</p>
            <div class="item-content" style="width: 100%;height: 100%;display: flex;" v-if="dataStatus">
              <div class="item-canvas" style="flex:1" ref="network">加载中...</div>
            </div>
            <div class="item-empty" v-else><p>暂无数据</p></div>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="mainType=='1'">
      <div class="list-item row">
        <at-badge :value="mainTypeName" style="margin-left: 10px"></at-badge>
      </div>
      <div class="list-item row">
        <div class="card col-md-12">
          <div class="item">
            <p class="item-title">{{graphNames.name1}}</p>
            <div class="item-content" style="width: 100%;height: 100%;display: flex;justify-content: center;"
                 v-if="dataStatus">
              <at-table :columns="tableInfo.infoTable.columns" :data="tableInfo.infoTable.data" stripe style="width: 100%;margin-top: 10px;" v-if="this.isShowHight(tableInfo.infoTable.data.length,4)" height="200" border></at-table>
              <at-table :columns="tableInfo.infoTable.columns" :data="tableInfo.infoTable.data" stripe style="width: 100%;margin-top: 10px;" v-else border></at-table>
            </div>
            <div class="item-empty" v-else><p>暂无数据</p></div>
          </div>
        </div>
      <div class="card col-md-12">
        <graph :name="graphNames.name2" refname="bar1" :data-status="dataStatus"></graph>
      </div>
      <div class="card col-md-12">
        <graph :name="graphNames.name3" refname="bar2" :data-status="dataStatus"></graph>
      </div>
        <div class="card col-md-12">
          <graph :name="graphNames.name4" refname="bar3" :data-status="dataStatus"></graph>
        </div>
      </div>
    </div>
    <div v-else-if="mainType=='2'">
      <div class="list-item row">
        <at-badge :value="mainTypeName" style="margin-left: 10px"></at-badge>
      </div>
      <div class="list-item row">
        <div class="card col-md-12">
          <div class="item">
            <p class="item-title">{{graphNames.name1}}</p>
            <div class="item-content" style="width: 100%;height: 100%;display: flex;justify-content: center;"
                 v-if="dataStatus">
              <at-table :columns="tableInfo.vmBaseTable.columns" :data="tableInfo.vmBaseTable.data" stripe style="width: 100%;margin-top: 10px;" v-if="this.isShowHight(tableInfo.vmBaseTable.data.length,4)" height="200" border></at-table>
              <at-table :columns="tableInfo.vmBaseTable.columns" :data="tableInfo.vmBaseTable.data" stripe style="width: 100%;margin-top: 10px;" v-else border></at-table>
            </div>
            <div class="item-empty" v-else><p>暂无数据</p></div>
          </div>
        </div>
        <div class="card col-md-12">
          <div class="item">
            <p class="item-title">{{graphNames.name2}}</p>
            <div class="item-content" style="width: 100%;height: 100%;display: flex;justify-content: center;"
                 v-if="dataStatus">
              <at-table :columns="tableInfo.vmSpecTable.columns" :data="tableInfo.vmSpecTable.data" stripe style="width: 100%;margin-top: 10px;" v-if="this.isShowHight(tableInfo.vmSpecTable.data.length,4)" height="200" border></at-table>
              <at-table :columns="tableInfo.vmSpecTable.columns" :data="tableInfo.vmSpecTable.data" stripe style="width: 100%;margin-top: 10px;" v-else border></at-table>
            </div>
            <div class="item-empty" v-else><p>暂无数据</p></div>
          </div>
        </div>
        <div class="card col-md-12">
          <div class="item">
            <p class="item-title">{{graphNames.name3}}</p>
            <div class="item-content" style="width: 100%;height: 100%;display: flex;justify-content: center;"
                 v-if="dataStatus">
              <at-table :columns="tableInfo.vmIPTable.columns" :data="tableInfo.vmIPTable.data" stripe style="width: 100%;margin-top: 10px;" v-if="this.isShowHight(tableInfo.vmIPTable.data.length,4)" height="200" border></at-table>
              <at-table :columns="tableInfo.vmIPTable.columns" :data="tableInfo.vmIPTable.data" stripe style="width: 100%;margin-top: 10px;" v-else border></at-table>
            </div>
            <div class="item-empty" v-else><p>暂无数据</p></div>
          </div>
        </div>
        <div class="card col-md-12">
          <div class="item">
            <p class="item-title">{{graphNames.name4}}</p>
            <div class="item-content" style="width: 100%;height: 100%;display: flex;justify-content: center;"
                 v-if="dataStatus">
              <at-table :columns="tableInfo.vmImagesTable.columns" :data="tableInfo.vmImagesTable.data" stripe style="width: 100%;margin-top: 10px;" v-if="this.isShowHight(tableInfo.vmImagesTable.data.length,4)" height="200" border></at-table>
              <at-table :columns="tableInfo.vmImagesTable.columns" :data="tableInfo.vmImagesTable.data" stripe style="width: 100%;margin-top: 10px;" v-else border></at-table>
            </div>
            <div class="item-empty" v-else><p>暂无数据</p></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--导航 left-->
  <div class="slider-nav-left" title="Openstack" @click="gotoOpenStack">
  </div>
  <!--导航 right-->
  <!--<div class="slider-nav-right" title="Kubernetes" @click="">-->
  <!--</div>-->
  <!--导航 right-->
  <div class="slider-nav-right" title="XClarity" @click="isXClarity = true">
  </div>
  <transition name="mask">
    <div class="mask" v-if="isXClarity"></div>
  </transition>
  <transition name="xclarity">
    <div class="XClarity" v-if="isXClarity">
      <xclarity></xclarity>
      <div class="close" @click="isXClarity = false"><i class="icon icon-x"></i></div>
    </div>
  </transition>
</div>
