<div class="main">
  <header class="header">
    <div class="nav-container">
      <div class="nav-left">
        <div class="logo" @click="mainType='0'">
          <img src="../../assets/images/svg/logo-hybrid-cloud.svg">
        </div>
      </div>
      <div class="nav-right">
        <div class="hd-user-info">
          <p class="hd-user-role">超级管理员</p>
          <img src="../../assets/images/timg.jpg" class="hd-user-pic"></img>
        </div>
        <div class="hd-status-alarm" @click="logout">
          退出
        </div>
      </div>
    </div>
  </header>
  <section class="container">
    <!--总览-->
    <div class="list-item row">
      <!--服务器-->
      <div class="card col-md-6">
        <div class="item">
          <p class="item-title">服务器</p>
          <div class="item-content verticals">
            <div class="item-canvas" ref="server"></div>
            <div class="item-info">
              <div class="item-info-title wd-full"><span>使用情况</span></div>
              <div class="item-info-k">
                <div class="item-info-text">
                  <span class="item-info-text-tag rect-blue-1"></span>
                  <span class="nml">正常主机</span>
                </div>
                <div class="item-info-text">
                  <span>{{indexInfoIsLoad?'...':`${hostInfo.normalHostCount} 台`}}</span>
                </div>
              </div>
              <div class="item-info-o">
                <div class="item-info-text">
                  <span class="item-info-text-tag rect-red-1"></span>
                  <span class="nml">异常主机</span>
                </div>
                <div class="item-info-text">
                  <span>{{indexInfoIsLoad?'...':`${hostInfo.unNormalHostCount} 台`}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--存储-->
      <div class="card col-md-6">
        <div class="item">
          <p class="item-title">存储</p>
          <div class="item-content verticals">
            <div class="item-canvas" ref="store"></div>
            <div class="item-info">
              <div class="item-info-title wd-full"><span>使用情况</span></div>
              <div class="item-info-k">
                <div class="item-info-text">
                  <span class="item-info-text-tag rect-blue-1"></span>
                  <span class="nml">可用空间</span>
                </div>
                <div class="item-info-text">
                  <span>{{indexInfoIsLoad?'...':`${bytesToSize(storageInfo.availableCount,4)} TB`}} </span>
                </div>
              </div>
              <div class="item-info-o">
                <div class="item-info-text">
                  <span class="item-info-text-tag rect-red-1"></span>
                  <span class="nml">已用空间</span>
                </div>
                <div class="item-info-text">
                  <span>{{indexInfoIsLoad?'...':`${bytesToSize(storageInfo.usedCount,4)} TB`}} </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--网络-->
      <div class="card col-md-6">
        <div class="item warn">
          <p class="item-title">网络</p>
          <div class="item-content">
            <div class="item-info">
              <div class="kubernetes-warn">
                <p>
                  <span class="warning" style="color:#22c36a">{{indexInfoIsLoad?'...':`${networkInfo.count}`}}</span>
                  <span class="small-text">个网络</span>
                </p>
                <div class="warn-message lt">
                  <span class="small-text">网络信息：</span>
                  <at-popover
                    trigger="click"
                    :content="networkStr(network)"
                    :key="network.id"
                    v-for="network in networkInfo.networks">
                    <p class="msg-item"
                      :title='networkStr(network)'
                      >{{networkStr(network)}}</p>
                    </at-popover>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--系统告警-->
      <div class="card col-md-6">
        <div class="item warn">
          <p class="item-title">告警</p>
          <div class="item-content">
            <div class="item-info">
              <div class="kubernetes-warn">
                <p>
                  <span class="warning">{{indexInfoIsLoad?'...':`${alertEvents.length}`}}</span>
                  <span class="small-text">个告警</span>
                </p>
                <div class="lt">
                  <span class="small-text">告警信息：</span>
                </div>
                <div class="warn-message">
                  <at-popover
                    trigger="click"
                    :content="alertEvent.description"
                    :key="alertEvent.id"
                    v-for="alertEvent in alertEvents">
                    <p class="msg-item warns"
                      style="font-size: 12px;"
                      :title='alertEvent.description'>{{alertEvent.description}}</p>
                  </at-popover>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--使用情况-->
    <div class="list-item row">
      <!--CPU 使用率-->
      <div class="card col-md-12">
        <div class="item">
          <p class="item-title">CPU 使用</p>
          <div class="item-content standards">
            <div class="item-canvas" id="cpuLine"></div>
            <div class="item-info mt">
              <div class="item-info-title wd-full"><span>使用情况</span></div>
              <div class="item-info-k">
                <div class="item-info-text">
                  <span class="item-info-text-tag rect-red-1"></span>
                  <span>CPU 使用率</span>
                </div>
                <div class="item-info-text">
                  <span>{{cpuUsed}} %</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--内存消耗-->
      <div class="card col-md-12">
        <div class="item">
          <p class="item-title">内存使用</p>
          <div class="item-content standards">
            <div class="item-canvas" id="ramLine"></div>
            <div class="item-info mt">
              <div class="item-info-title wd-full"><span>使用情况</span></div>
              <div class="item-info-k">
                <div class="item-info-text">
                  <span class="item-info-text-tag rect-red-1"></span>
                  <span>内存使用率</span>
                </div>
                <div class="item-info-text">
                  <span>{{ramUsed}} %</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--网络使用率-->
      <div class="card col-md-12">
        <div class="item">
          <p class="item-title">网络 IO</p>
          <div class="item-content standards">
            <div class="item-canvas" id="networkLine"></div>
            <div class="item-info mt">
              <div class="item-info-title wd-full"><span>使用情况</span></div>
              <div class="item-info-k">
                <div class="item-info-text">
                  <span class="item-info-text-tag rect-red-blue"></span>
                  <span>网络速率</span>
                </div>
                <div class="item-info-text">
                  <div class="line-2">
                    <span>发送 <strong>{{nicTransmitUsed}}KB</strong></span>
                    <span>接收 <strong>{{nicReceiveUsed}}KB</strong></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--存储使用率-->
      <div class="card col-md-12">
        <div class="item">
          <p class="item-title">存储 IOPS</p>
          <div class="item-content standards">
            <div class="item-canvas" id="storeLine"></div>
            <div class="item-info mt">
              <div class="item-info-title wd-full"><span>使用情况</span></div>
              <div class="item-info-k">
                  <div class="item-info-text">
                      <span class="item-info-text-tag rect-red-blue"></span>
                      <span>存储速率</span>
                    </div>
                <div class="item-info-text">
                  <div class="line-2">
                    <span>读取 <strong>{{storeIOPSRead}}MB</strong></span>
                    <span>写入 <strong>{{storeIOPSWrite}}MB</strong></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--导航 left-->
  <div class="slider-nav-left" title="Openstack" @click="isLeft = true">
  </div>
  <!--导航 right-->
  <div class="slider-nav-right" title="Kubernetes" @click="isRight = true">
  </div>
  <!--导航 bottom-->
  <!-- <div class="slider-nav-bottom" title="XClarity" @click="isXClarity = true">
  </div> -->
  <transition name="mask">
    <div class="mask" v-if="isXClarity || isLeft || isRight"></div>
  </transition>
  <!-- 左侧右拉 -->
  <transition name="lefts">
    <div class="left" v-if="isLeft">
      <myframe></myframe>
      <div class="close" @click="isLeft = false"><i class="icon icon-x"></i></div>
    </div>
  </transition>
  <!-- 右侧左拉 -->
  <transition name="right">
      <div class="right" v-if="isRight">
        <!-- @params src：请求地址 -->
        <myframe src="http://www.baidu.com/"></myframe>
        <div class="close" @click="isRight = false"><i class="icon icon-x"></i></div>
      </div>
    </transition>
  <!-- 底部上拉 -->
  <transition name="xclarity">
    <div class="XClarity" v-if="isXClarity">
      <xclarity></xclarity>
      <div class="close" @click="isXClarity = false"><i class="icon icon-x"></i></div>
    </div>
  </transition>
</div>
